@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-title-content,
.ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-submenu-arrow {
  @apply text-primary transition-none;
}

.ant-menu-item-only-child .ant-menu-title-content {
  @apply transition-none;
}

.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-title-content,
.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}

.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-title-content,
.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e6fffc;
}

::-webkit-scrollbar-thumb {
  background: #0abac3;
}

.primary-btn {
  @apply btn bg-primary hover:bg-primary text-white font-["Poppins"] font-bold text-base tracking-[0.3px];
}
