@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-title-content,
.ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  @apply text-primary transition-none;
}

.ant-menu-item-only-child .ant-menu-title-content {
  @apply transition-none;
}

.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-title-content,
.ant-menu-submenu-selected
  .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}

.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-title-content,
.ant-menu-submenu .ant-menu-submenu-title:hover .ant-menu-submenu-arrow {
  @apply text-white transition-none;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  @apply bg-[#F1FEFF];
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}

.ant-table-body ::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body ::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

.ant-table-body ::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}

.primary-btn {
  @apply btn bg-primary font-[Manrope] hover:bg-primary text-white font-bold text-base;
}

.danger-btn {
  @apply btn bg-error h-12 font-[Manrope] hover:bg-error text-white font-bold text-sm;
}

.swal2-container {
  z-index: 9999;
}
